<div>
  <label> Recherche par noms :</label><input type="text" class="form-control" id="rechercheParNom" #saisieNom>

  <button class="btn btn-success" (click)="rechercher(saisieNom.value)" [hidden]="rechercheEnCours">Rechercher</button>
  <button class="btn btn-success" (click)="masquer()" [hidden]="!rechercheEnCours">Masquer</button>
</div>
<ng-container *ngIf="rechercheEnCours">
  <ul class="list-groupe">
    <li class="list-group-item btn" *ngFor="let matricule of listMatricule" (click)="reccupererCollegue(matricule)">
      Matricule : {{matricule}},
    </li>
  </ul>
</ng-container>
