<div class="container">
  <div class="row">


    <div class="row">
      <div class="col-sm-12 col-md-4 ">
        <img src="{{col.photoUrl}}" alt="imageProfil" class="img-rounded img-fluid" />
      </div>
      <div class="col-sm-12 col-md-6 rounded  p-3" style="background-color:rgba(224, 241, 224, 0.945);">
        <h4>Profil Collegue :</h4>


        <label><b> Matricule :</b></label>
        {{col.matricule}}
        <br />


        <label> <b> Nom :</b> </label>
        {{col.nom | uppercase}}
        <br />


        <label><b> Prenom :</b> </label>
        {{col.prenom}}
        <br />


        <label> <b> Date de naissance :</b> </label>
        {{col.dateDeNaissance| date:'dd/MM/yyyy'}}
        <br />


        <label><b> Email :</b> </label>
        <div *ngIf="!modModif ; else desactivModifPut">
          {{col.email}}
        </div>
        <ng-template #desactivModifPut><input type="text" class="form-control" id="mail" value="{{col.email}}">
        </ng-template>
        <br />

      </div>



    </div>
  </div>
  <!-- Split button -->
  <div class="offset-4 btn-group">
    <div *ngIf="!modModif ; else desactivModif">
      <button type="button" class="btn btn-primary" (click)="modifier()"> Modifier
      </button>
    </div>
    <ng-template #desactivModif><button type="button" class="btn btn-success" (click)="validation()">
        Valider
      </button></ng-template>
    <br />
  </div>
</div>
