<header>
  <app-footer></app-footer>
</header>

<div class="container-fluid">


  <div class=row>
    <!-- Liste Collegue -->
    <div class="col-xs-12 offset-1 col-sm-4 col-md-4 ">
      <app-recherche-collegue-par-nom></app-recherche-collegue-par-nom>
    </div>
    <!-- un collegue tout seul -->
    <div class="col-xs-12 offset-1 col-sm-6 col-md-6 rounded ">

      <div class="rounded p-3">
        <h2>M. {{unObjetCollegueFourni.nom}} </h2>
        <app-collegues [col]="unObjetCollegueFourni"></app-collegues>
      </div>
    </div>

  </div>

</div>
<footer></footer>
